<div class="pin">
  <%= link_to bookmark.url, title: bookmark.description do %>
    <% if bookmark.thumbnail %>
      <img src="<%= bookmark.thumbnail %>" />
    <% else %>
      <span class="glyphicon glyphicon-link bkmrk-btn"></span>
    <% end %>
  <% end %>
  <p class="bookmark-title">
    <%= bookmark.title %>
  </p>
  <p>
     <% if current_user %>
      <% if like = current_user.liked(bookmark) %>
       <%= link_to [bookmark, like], method: :delete do %>
         <i class="glyphicon glyphicon-heart heart bkmrk-btn"></i>
       <% end %>
      <% else %>
        <%= link_to [bookmark, Like.new], method: :post do %>
         <i class="glyphicon glyphicon-heart-empty unheart bkmrk-btn"></i>
        <% end %>
      <% end %>
     <% end %>
     <% if BookmarkPolicy.new(current_user, bookmark).destroy? %>
       <%= link_to bookmark, method: :delete do %>
        <i class="glyphicon glyphicon-trash trash bkmrk-btn"></i>
        <% end %>
     <% end %>
  </p>
</div>
