<br>
<div class="jumbotron">
  <h2><%=@user.name%>'s board</h2>
  <div class="header-form">
    <%= render partial: 'bookmarks/form', locals: { bookmark: @bookmark } %>
  </div>
</div>
<%= pluralize(@user.bookmarks.count, 'Posted bookmark') %>
<%= render partial: 'bookmarks/bookmarks', locals: { bookmarks: @bookmarks } %>
<br>
<%= pluralize(@user.liked_bookmarks.count, 'Liked bookmark') %>
<%= render partial: 'bookmarks/bookmarks', locals: { bookmarks: @liked_bookmarks } %>
